.movie-select select {
  background: white;
  border: transparent;
  border-radius: var(--radius);
  padding: 0.75rem;
  /* appearance: none; */
  font-weight: bold;
  font-size: 1rem;
}

.movie-select {
  display: flex;
  gap: 1rem;
  align-items: center;
}
